
@{
    ViewData["Title"] = "Main Selling Categories";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/items">Admin</a></li>
        <li class="breadcrumb-item active" aria-current="page">Main Selling Categories</li>
    </ol>
</nav>
