@using Web.Areas.Admin.Models;
@model IEnumerable<AdminUser>;
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Admin Configuration";
}

<button type="button" class="btn btn-outline-dark" data-toggle="modal"
        data-target="#addNewAdminModal">
    Add new admin
</button>

<div class="modal fade" id="addNewAdminModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add new admin</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="addNewAdminForm" class="needs-validation" action="/createAdmin" method="post" novalidate>
                    <div class="form-group">
                        <input type="text" class="form-control" id="userName" name="userName" placeholder="Enter user name" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please enter userName.
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" aria-describedby="emailHelp" required>
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please enter email.
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="password" name="password" placeholder="Enter password" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please enter password.
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="tel" class="form-control" id="phoneNumber" name="phoneNumber" placeholder="Enter phone number">
                    </div>
                    <button id="submitForm" type="submit" class="btn btn-block">Save</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<ul class="container list-group list-group-flush pt-lg-3 pt-sm-5">
    @foreach (var item in Model)
    {
        <a href="#" class="list-group-item-action">
            <li class="list-group-item">
                <div class="row col-md-12">
                    <div class="col-md-10 col-sm-12">
                        @item.UserName <br />
                        <small>@item.Email</small><br />
                        <small>@item.Telephone</small>
                    </div>
                    <div class="col-md-2 col-sm-12">
                        <button type="button" class="btn btn-dark">Edit</button>
                        <button type="button" class="btn btn-danger">Delete</button>
                    </div>
                </div>
            </li>
        </a>
    }
</ul>

@section Scripts{
    <environment include="Development">
        <script src="~/js/scripts/adminSetUp.js"></script>
    </environment>
}