@{
    ViewData["Title"] = "Admin";
}

<div class="col-lg-4 col-md-6 col-sm-8 mx-auto">
    <div class="card card-body mb-5 mt-5">
        <form id="adminLogin" class="needs-validation" novalidate>
            <div class="form-group">
                <label for="inputEmail">Email address</label>
                <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="Enter email" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please enter your email.
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword">Password</label>
                <input type="password" class="form-control" id="inputPassword" placeholder="Password" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please enter your password.
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

@section Scripts{
    <environment include="Development">
        <script src="~/js/scripts/admin.js"></script>
    </environment>
}